body{
    background-color: #36393f;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

label{
    color:white;
    margin: 0;
}

.calcbody{
    background-color: #433969 ;
    padding: 1rem;
    color: white;
    width:80%;
}

@media (max-width: 960px) {
    .calcbody{
        width: 100%;
    }
}

p{
    color: white;
}

.set{
    background-color: #8969b0;
    text-align: center;
    padding: 5px;
    color: #000 !important;
  }

.hidden{
    display: none;
}

option{
    text-align: center;
}

select{
    padding: 5px 0px;
    width: 80%;
}

input{
    width: 80%;
}

#difference{
    padding: 10px;
    text-align: center;
    border: 1px solid rgb(44, 5, 44);
    border-width: 6px;
    margin: 5px;
    display: none;
  }

.view-button{
    margin: 12px 0px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 15px;
    padding: 8px 12px;
}

.view-button:active {
transform: translateY(2px);
}     


#refine-set1{
    display:none;
}

#refine-set2{
    display:none;
}

.weapon-toggle{
    transform: scale(1.5);
}


.about{
    padding: 12px;
    width: 100%;
}


.keqing-image{
    width: 60%;
}


#instructions-view{
    display: none;
}

#about-view{
    display: none;
}

li{
    margin: 6px 0px;
}

