body{
    background-color: #36393f;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: calc(-1 * (100vw - 100%));
    overflow-x: hidden;
}

label{
    color:white;
    margin: 0;
}

.calcbody{
    background-color: #433969 ;
    padding: 1rem;
    color: white;
    width:80%;
}

@media (max-width: 960px) {
    .calcbody{
        width: 100%;
    }

    .row{
        margin: 10px 0px;
    }

}

p{
    color: white;
}

.set{
    background-color: #8969b0;
    text-align: center;
    padding: 5px;
    color: #000;
  }

.hidden, .aggravate-row1, .aggravate-row2{
    display: none;
}

option{
    text-align: center;
}

select{
    padding: 5px 0px;
    width: 80%;
    height: 100%;
}

input{
    width: 80%;
    height: 100%;
    text-align: center;
}


/* override the input css above it, im too dumb to do this the right way so it is what it is */
.weapon-toggle, .artifact-4p-toggle, .artifact-2p-toggle{
    height: auto;
}


#difference{
    padding: 10px;
    text-align: center;
    border: 1px solid rgb(44, 5, 44);
    border-width: 6px;
    margin: 5px;
    display: none;
  }

.view-button{
    margin: 12px 0px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 15px;
    padding: 8px 12px;
}

.view-button:active {
transform: translateY(2px);
}     


#refine-set1, #refine-set2{
    display:none;
}


.weapon-toggle, .artifact-4p-toggle, .artifact-2p-toggle{
    transform: scale(1.5);
}


.about, .instructions{
    padding: 12px;
}


.keqing-image{
    width: 126px;
}

@media (max-width: 768px) {
    .keqing-image-container{
        text-align: center;
    }

}


#instructions-view, #about-view{
    display: none;
}


li{
    margin: 6px 0px;
}

.col-sm-6{
    height: auto;
}
